header {
    width: 100%;
    height: .45rem;
    background-color: #f4ba4c;
    text-align: center;
    box-shadow: 0 0 20px #000;
    position: relative;
    z-index: 99;
}

header h4 {
    color: #fff;
    font-size: .18rem;
    font-weight: normal;
    text-shadow: 0 0 3px #000;
    line-height: .35rem;
}

header p {
    color: #fff;
    font-size: .12rem;
    font-weight: lighter;
    margin-top: -.06rem;
}

.swiper-container {
    width: 100%;
    z-index: -1;
}

.swiper-container img {
    width: 100%;
}

.main {
    padding: 0 .05rem;
}

.main .partone .item {
    width: 1rem;
    height: 1rem;
    float: left;
    text-align: center;
    padding: .18rem .14rem 0 .14rem;
}
.main .partone .item img{
    width: .44rem;
}

.main .item p {
    color: #fff;
    font-size: .12rem;
}

.main .partone .one {
    background-color: #99ed40;
}

.main .partone .two {
    background-color: #e7ed40;
    margin: 0 .05rem;
}

.main .partone .three {
    background-color: #ff7373;
}

.main .parttwo .item {
    width: 1rem;
    height: 1rem;
    float: left;
    text-align: center;
    padding: .18rem .14rem 0 .14rem;
    background-color: #ff5843;
    margin-top: .05rem;
}
.main .parttwo .item img{
    width: .44rem;
}
.main .parttwo .two {
    background-color: #ff763a;
}

.main .parttwo .pic {
    width: 2.1rem;
    height: 1rem;
    overflow: hidden;
    float: left;
    margin-top: .05rem;
    position: relative;
}

.main .parttwo .pic img {
    width: 100%;
}

.main .parttwo .pic p {
    padding-left: .07rem;
    width: 2.1rem;
    position: absolute;
    height: .3rem;
    line-height: .3rem;
    background-color: rgba(255, 255, 255, .5);
    font-size: .12rem;
    color: #000;
    left: 0;
    bottom: 0;
}

.main .partthree {
    margin-top: .05rem;
    display: flex;
    justify-content: space-between;
}

.main .partthree .item {
    width: 1.52rem;
    height: 1rem;
    text-align: center;
    padding: .17rem .51rem 0 .51rem;
    background-color: aquamarine;
    color: #fff;
}
.main .partthree .item img{
    width: .44rem;
}

.main .partthree .right .item2 {
    width: 1.52rem;
    height: .47rem;
    display: flex;
    background-color: #9fc3b9;
    padding: .08rem 0 .08rem .2rem;
    color: #fff;
    font-size: .12rem;
    line-height: .3rem;
}

.main .partthree .right .item2 img {
    width: .32rem;
    margin-right: .09rem;
}

.main .partthree .right .two {
    margin-top: .05rem;
    background-color: #ffca3b;
}

.main .partfour {
    margin-top: .05rem;
    display: flex;
    justify-content: space-between;
}

.main .partfour .item{
     width: 1.52rem;
    height: .47rem;
    background-color: #cdcc94;
    display: flex;
    padding: .08rem 0 .08rem .2rem;
    font-size: .12rem;
    line-height: .3rem;
}
.main .partfour .item:nth-child(2){
    background-color: #c6e484;
}
.main .partfour .item img {
    width: .32rem;
    margin-right: .09rem;
}

footer p{
    color: #cfcfcf;
    text-align: center;
    font-size: .12rem;
    margin-top: .14rem;
}